MM_CLIENT_ID=
MM_API_SECRET=
MM_TEST=true
MM_WEBHOOK_SECRET=
# MM_BASE_URI=
DB_NAME=mm_woo_example
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
WP_TITLE=MainMoney WooCommerce Example
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@example.test
PORT=8081
